terraform {
  backend "azurerm" {
    resource_group_name  = "rg-azure-pipelines-test-01"
    storage_account_name = "<storage_account_name_do_output_do_bootstrap>"
    container_name       = "tfstate"
    key                  = "network/terraform.tfstate"
  }
}
